.about-section{
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.about-section .about-container{
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.about-section .about-grid{
    margin: 0 -15px;
}

.about-section .about-grid-item{
    width: -webkit-fill-available;
    padding: 0 15px;
}

.about-section .about-image{
    position:  relative !important;
    max-width: 810px;
    max-height: 528.138px;
}

.about-section .about-image-box {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.about-section .about-content-box{
    max-width: 585px;
}

.about-section .about-sub-title{
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ff5d22;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

.about-section .about-sub-img{
    position: relative !important ;
    max-width: 32px;
    max-height: 34px;
    margin-right: 5px;
    animation-name: rotateme;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.about-section .about-content-para{
    margin-bottom: 20px;
    text-align: left;
}

.about-section .about-list{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -15px;
    margin-right: -88px;
}

.about-section .about-list-item{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 0px;
    width: 50%;
    align-items: flex-start;
}

.about-section .about-link{
    color: #221638;
    text-decoration: none;
    transition: 0.5s;
    width: -webkit-fill-available;
}

.about-section .about-link span{
    display: block;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 20px 15px 20px 68px;
    border-radius: 5px;
    z-index: 1;
    background-color: #ffffff;
    font-size: 19px;
    font-weight: 800;
    line-height: 1.5;
    font-family: "Nunito", sans-serif;
}

.about-section .about-tick-box{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    transition: 0.5s;
    background-color: #deecf4;
    font-size: 20px;
}

.about-section .about-tick-img{
    position: relative !important;
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
}

.about-section .product-about-grid{
    order: 1 !important;
    display: flex;
    align-items: center;
    justify-content: end;
}

.about-section .platform-about-grid{
    display: flex;
    align-items: center;
}

.about-section .product-about-grid-image{
    order: 2 !important;
}

.about-section .product-about-image{
    min-width: unset;
    max-width: 615px ;
    max-height: 443px;
}

.about-section .platform-about-image{
    max-height: 484.788px;
}

.about-section .product-about-image-box{
    text-align: center;
}

.about-section .product-list{
    margin-right: -15px;
}

.about-section .about-after-hover{
    display: none;
}

.about-section .about-link:hover{
    color: #ff5d22;
}

.about-section .about-link:hover .about-tick-box{
    background-color: #ff5d22;
}

.about-section .about-link:hover .about-after-hover{
    display: inline-block;
}

.about-section .about-link:hover .about-before-hover{
    display:none;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1199px){
    .about-section .about-image {
        min-width: 450px;
        max-height: 344.438px;
    }
    .about-section .about-tick-img{
        max-width: 16px;
        max-height: 16px;
    }
    .about-section .about-content-para{
        font-size: 16px !important;
    }
    .about-section  .about-link span{
        padding: 15px 10px 15px 52px;
        font-size: 15px;
    }
    .about-section .about-tick-box{
        left: 10px;
        width: 30px;
        height: 30px;
        line-height: 31px;
        font-size: 15px;
    }
    .about-section .about-container{
        max-width: 930px;
    }
}

@media only screen and (max-width: 991px){
    .about-section .about-container{
        max-width: 690px;
    }
    .about-section .about-image {
        min-width: unset;
        max-height:unset;
        min-height: 528.138px;
    }
    .about-section .about-content-box{
        margin-top: 35px;
        max-width: 585px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-section .about-sub-title{
        justify-content: center;
    }
    .about-section .about-content-para{
        font-size: 16px !important;
        text-align: center;
    }
    .about-section .about-grid-item{
        display: flex;
        width: -webkit-fill-available;
        justify-content: center;
    }
    .about-section .product-about-grid{
        order: 2 !important;
    }
    .about-section .product-about-grid-image{
        order: 1 !important;
    }
    .about-section{
        padding-bottom: 80px;
    }
    .about-section .product-about-image{
        min-height: 443px !important;
    }
    .about-section .platform-about-image{
        min-height: 484.788px;
    }
    .about-section .about-link span{
        font-size: 16px;
        padding: 20px 15px 20px 68px;
    }
    .about-section .about-tick-box{
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 767px){
    .about-section .about-image {
        min-height: 302.800px;
    }
    .about-section  .about-list{
        flex-direction: column;
        margin-left: -15px;
        margin-right: -15px;
    }
    .about-section .about-list-item{
        padding-top: 20px;
        width: -webkit-fill-available;
    }
    .about-section .about-link span{
        padding-left: 63px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 15px;
        font-size: 16px !important;
    }
    .about-section .about-content-para{
        font-size: 15px !important;
    }
    .about-section .about-tick-box{
        width: 35px;
        height: 35px;
        line-height: 36px;
        font-size: 17px;
        left: 15px;
    }
    .about-section .product-about-image{
        min-height: 284.950px !important;
    }
    .about-section .platform-about-image{
        min-height: 277.938px;
    }
    
}