.contact-area-section{
    padding-bottom: 100px;
    position: relative;
}

.contact-area-section .contact-area-container{
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-area-section .contact-section-title{
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}

.contact-area-section .contact-sub-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ff5d22;
    font-weight: 700;
    font-size: 15px;
    max-height: 34px;
}

.contact-area-section .contact-sub-icon-rotate{
    position: relative !important;
    max-width: 32px;
    animation-name: rotateme;
    animation-duration: 40s;
    max-height: 34px;
    margin-right: 5px;
    animation-iteration-count: infinite;
}

.contact-area-section .contact-area-head{
    font-weight: 800;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    font-size: 44px;
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
    color: #212529;
    letter-spacing: normal;
}

.contact-area-section .contact-area-grid{
    width: -webkit-fill-available;
    margin: 0 -15px;
}

.contact-area-section .contact-area-grid-item{
    padding: 0 15px;
    width: -webkit-fill-available;
}

.contact-area-section .contact-area-image{
    position: relative !important;
}

.contact-area-section .contact-form{
    padding: 40px;
    margin-left: 15px;
    box-shadow: 0 0 20px rgba(158, 158, 158, 0.16);
    background-color: #ffffff;
}

.contact-area-section #contactForm{
    margin-bottom: 17px;
}

.contact-area-section .contact-form-grid{
    margin-right: -15px;
    margin-left: -15px;
    width: -webkit-fill-available;
}

.contact-area-section .contact-form-grid-item{
    padding: 0 15px;
}

.contact-area-section .form-group{
    margin-bottom: 16px;
}

.contact-area-section .form-control{
    height: 55px;
    width: -webkit-fill-available;
    border-radius: 0;
    box-shadow: unset !important;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    color: #221638;
    padding: 1px 0 0 15px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.contact-area-section .form-control:active{
    border-color: #ff5d22 !important;
    background-color: transparent;
}

.contact-area-section .form-control:focus{
    border-color: #ff5d22 !important;
    background-color: transparent;
    outline: none;
}

.contact-area-section textarea.form-control{
    height: auto;
    padding-top: 15px;
    min-height: 144.000px;
}

.contact-area-section .captcha-group{
    margin-bottom: 16px;
}

.contact-area-section .captcha-image{
    position: relative !important;
    max-width: 143.325px;
    max-height: 31.563px;
}

.contact-area-section .refresh-image{
    position: relative !important;
    margin-top: 4px;
    max-width: 20px;
    max-height: 20px;
}

.contact-area-section .contact-form-button{
    margin-top: 5px;
    pointer-events: all;
    cursor: pointer;
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #ff5d22;
    transition: 0.5s;
    border-radius: 5px;
    padding: 12px 25px 12px 50px;
    font-weight: 700;
    font-size: 16px;
}

.contact-area-section .contact-form-button i{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 16.5px;
}

.contact-area-section .contact-form-button i::before{
    vertical-align: middle;
    content: ''; 
    display: inline-block;
    width: 22.500px;
    height: 24.750px;
    background: url('/assets/images/check.png') center/contain no-repeat; 
}

.contact-area-section .contact-form-button:hover{
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
    background-color:#221638;
}


.contact-area-section .error-message{
    color: red;
    font-family: "Nunito", sans-serif;
    letter-spacing: normal;
    font-size: 17px;
    line-height: 1.5;
}

.contact-area-section .message-submit{
    margin-top: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: #dc3545!important;
    font-family: "Nunito", sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 24px;
}

.contact-area-section .animated{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake;
}

@media only screen and (max-width: 1199px) {
    .contact-area-section .contact-area-container{
        max-width: 930px;
    }
    .contact-area-section .contact-area-head{
        font-size: 36px;
    }
    .contact-area-section .contact-form-button{
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px){
    .contact-area-section{
        padding-bottom: 80px;
    }
    .contact-area-section .contact-sub-title{
        font-size: 14px;
    }
    .contact-area-section .contact-area-container{
        max-width: 690px;
    }
    .contact-area-section .contact-section-title{
        max-width: 600px;
        margin-bottom: 45px;
    }
    .contact-area-section .contact-area-head{
        font-size: 35px;
    }
    .contact-area-section .contact-form{
        margin-left: 0px;
        margin-top: 30px;
    }
    .contact-area-section .captcha-image{
        max-height: 37px;
    }
}

@media only screen and (max-width: 767px){
    .contact-area-section{
        padding-bottom: 60px;
    }
    .contact-area-section .contact-area-container{
        width: -webkit-fill-available;
    }
    .contact-area-section .contact-area-head{
        font-size: 27px;
    }
    .contact-area-section .contact-sub-title{
        margin-bottom: 10px;
    }
    .contact-area-section .contact-section-title{
        max-width: 100%;
        margin-bottom: 40px;
    }
    .contact-area-section .contact-form{
        padding: 25px 20px;
    }
    .contact-area-section .form-control{
        height: 50px;
    }
    .contact-area-section .form-control{
        font-size: 15px;
    }
    .contact-area-section .captcha-image{
        max-width: 168px;
    }
    .contact-area-section .captcha-gropu-one{
        max-height: 37px;
    }
    .contact-area-section .captcha-gropu-two{
        max-height: 24px;
    }
    .contact-area-section .contact-form-button{
        padding: 11px 20px 11px 40px;
        font-size: 15px;
    }
    .contact-area-section .contact-form-button i{
        left: 18px;
    }
}

@keyframes rotateme{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake{
    0%, 100% {
        transform: translateZ(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px,0,0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px,0,0);
    }     
}