
.deatils-section .details-container{
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.deatils-section .details-title{
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.deatils-section .details-sub-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ff5d22;
    font-weight: 700;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
}

.deatils-section .deatils-sub-icon{
    position: relative !important;
    margin-right: 5px;
    max-width: 32px;
    min-height: 34px;
    animation-timing-function: linear;
    animation-name: rotateme;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.deatils-section .details-grid{
    margin: 0 -15px;
    width: -webkit-fill-available;
}

.deatils-section .details-grid-item{
    padding: 0 15px;
}

.deatils-section .details-para{
    color: #6b6b84;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: normal;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

.deatils-section .details-image-box{
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
}

.deatils-section .details-img{
    position: relative !important;
    max-width: 1200px;
    min-height: 551.912px;
    border-radius: 5px;
}

@media only screen and (max-width: 1199px){
    .deatils-section .details-container{
        max-width: 930px;
    }
    .deatils-section .details-img{
        min-height: 427.725px;
    }
    .deatils-section .details-para{
        font-size: 16px;
    }
}

@media only screen and (max-width:991px){
    .deatils-section .details-container{
        max-width: 690px;
    }
    .deatils-section .details-sub-title{
        font-size: 14px;
    }
    .deatils-section .details-img{
        min-height: 317.350px;
    }
}

@media only screen and (max-width:767px){
    .deatils-section .details-container{
        width: -webkit-fill-available;
    }
    .deatils-section .details-para{
        font-size: 15px;
        text-align: center;
    }
    .deatils-section .details-sub-title{
        margin-bottom: 10px;
    }
    .deatils-section .details-img{
        min-height: 181.938px;
    }
    .deatils-section .details-image-box{
        margin-bottom: 25px;
    }
}

@keyframes rotateme{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}