
.header-section{
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff !important;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0,-10%,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.header-section .header-container{
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
}

.header-section .header-content{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-section .header-logo{
    margin-right: 16px;
    display: inline-flex;
}

.header-section .header-logo-image{
    position: relative !important;
    min-width: 228px;
    width: 100%;
    max-height: 96px;
    height: 100%;
}

.header-section .header-link-box{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-section .header-list{
    padding: 0px;
    display: flex;
}

.header-section .header-list-item{
    margin-left: 14px;
    margin-right: 14px;
    padding: 0px;
    width: fit-content;
}

.header-section .header-list-link{
    color: #221638;
    font-size: 17px;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.header-section .header-list-link svg{
    font-size: 18px;
    position: relative;
    top: 2px;
    line-height: 1;
    fill: #221638;
    margin-right: -3px;
}

.header-section .header-list-item:first-child {
    margin-left: 0px;
}

.header-section .header-list-item:last-child {
    margin-right: 0px;
}

.header-section .header-btn-box{
    margin-left: 30px;
}

.header-section .header-contact-link{
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #ff5d22;
    margin-bottom: -6px;
    transition: 0.5s;
    border-radius: 5px;
    padding: 12px 25px 12px 50px;
    font-weight: 700;
    font-size: 16px;
    vertical-align: bottom;
}


.header-section .header-contact-link i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 16.5px;
}

.header-section .header-contact-link i::before{
    height: 18px;
    width: 28px;
    content: ''; 
    margin-top: 6px;
    display: inline-block;
    background: url('/assets/images/servicesNext.png') center/contain no-repeat; 
}

.header-section .dropdown-list{
    opacity: 0;
    visibility:hidden;
    margin-top: 0;
    border: none;
    top: 70px;
    left: 0;
    z-index: 99;
    width: 300px;
    display: none;
    border-radius: 0;
    padding: 10px 0;
    background: #ffffff;
    position: absolute;
    transition: all 0.2s ease-in-out;
    border-top: 3px solid #ff5d22;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.header-section .dropdown-list-item{
    position: relative;
    padding: 0px;
}

.header-section .dropdown-list-link{
    letter-spacing: normal;
    padding: 10px 20px;
    position: relative;
    display: block;
    color: #221638;
    font-size: 16.5px;
    font-weight: 700;
    transition: 0.5s;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
}

.header-list-item:hover .dropdown-list{
    display: block;
    visibility: visible;
    opacity: 1;
}

.header-section .header-list-link:hover,
.header-section .dropdown-list-link:hover{
    color: #ff5d22;
}

.header-section .header-contact-link:hover{
    margin-bottom: -6px !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #ffffff;
    transform: translateY(-5px);
}

.header-section .header-contact-link span{
    top: auto;
    left: auto;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    display: block;
    background-color: #221638;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
    text-align: center;
}

.header-section .header-contact-link:hover span{
    width: 1000%;
    height:1000%;
}

.header-section .contact-btn-responsive-container{
    display: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1355px){
    .header-section  .header-btn-box{
        display: none;
    }
    .header-section .header-container{
        max-width: 1140px;
    }
    .header-section .header-link-box{
        padding-right: 52px;
    }
    .header-section .contact-btn-responsive{
        display: block;
    }
    .header-section .contact-btn-responsive-container{
        max-width: 1140px;
        position: relative;
        padding: 0 15px;
        display: block;
    }
   
}
.header-section .dot-menu{
    padding: 0 10px 0 0;
    right: -20px;
    top: -51px;
    height: 30px;
    cursor: pointer;
    z-index: 9991;
    position: absolute;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    cursor: pointer;
}
.header-section .dot-inner{
    display: flex;
    align-items: center;
    height: 30px;
}
.header-section .dot-inner-circle{
    background-color: #221638;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    margin: 0 2px;
    transition: 0.5s;
}

.header-section .dot-menu:hover .dot-inner-circle{
    background-color: #ff5d22;
}

.header-section .dot-container-active{
    opacity: 0;
    right: 0;
    visibility:hidden;
    transform: scaleX(1);
    position: absolute;
    top: 10px;
    max-width: 320px;
    margin-left: auto;
    transition: 0.5s;
    padding: 0 15px;
    z-index: 2;
}


.header-section .active-dot-container{
    opacity: 1;
    display: block;
    visibility: visible;
}

.header-section .dot-container-active-inner{
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding: 15px 15px 8px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    min-width: 260px;
}

.header-section .dot-container-active-content{
    display: flex;
    justify-content: center;
}

.header-section .header-color-link-active{
color: #ff5d22;
}

@media only screen and (min-width: 1200px) and (max-width: 1355px){
    .header-section .dropdown-list{
        left: auto;
        right: 0;
    }
}

@media only screen and (min-width:1199px){
    .header-section .header-menu-bar{
        display: none;
    }
}

@media only screen and (max-width: 1199px){
    .header-section{
        padding: 20px 0px;
    }
    .sticky{
        padding: 10px 0px;
    }
    .header-section .header-link-box{
    display: none;
    }
    .header-section .header-container{
        max-width: 960px;
    }
    .header-section .header-btn-box{
        display: none;
    }
    .header-section .contact-btn-responsive{
        display: block;
    }
    .header-section .contact-btn-responsive-container{
        max-width: 960px;
        position: relative;
        padding: 0 15px;
        display: block;
    }
    .header-section .dot-menu{
        padding: 0 10px;
        right: 60px;
         top: -40px;
    }
    .header-section .header-logo-image{
        min-width: 169px;
        max-height: 71.150px;
    }
    .header-section .header-menu-bar{
        float: left;
        width: 100%;
        position: absolute;
        background: transparent;
        padding: 0 0 0;
        z-index: 999;
    }
    .header-section .menu-bar-reveal{
        right: 0px;
        left: auto;
        text-align: center;
        text-indent: 0px;
        font-size: 18px;
        width: 35px;
        height: 30px;
        position: absolute;
        line-height: 22px;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        padding-top: 14px;
        transition: 0.5s;
    }
    .header-section .menu-bar-reveal span{
        background: #221638;
        height: 4px;
        margin-top: -5px;
        border-radius: 3px;
        position: relative;
        top: 8px;
        display: block;
        text-align: center;
        text-indent: 0px;
        font-size: 18px;
        color: #221638;
    }
    .header-section .mega-menu{
        margin-top: 70px;
        float: left;
        width: 100%;
        background: #fff;
        display: none;
    }
    .header-section .mega-menu-list{
        font-size: 16.5px;
        height: 327px;
        overflow: scroll;
        overflow-x: hidden;
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        padding: 0px;
    }
    .header-section .mega-menu-list-item{
        position: relative;
        float: left;
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }
    .header-section .mega-menu-list-link{
        display: block;
        float: left;
        width: 90%;
        padding: 1em 5% 13px;
        margin: 0;
        text-align: left;
        color: #677294;
        border-top: 1px solid #DBEEFD;
        text-decoration: none;
        font-size: 16.5px;
        line-height: 1.5;
        font-family: "Nunito", sans-serif;
    }
    .header-section .mega-expand{
        float: left;
        color: #677294;
        margin-top: 1px;
    width: 100%;
    height: 24px;
    padding: 11px!important;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-weight: 500;
    background: transparent;
    border: none!important;
    font-size: 18px;
    }
    .header-section .menu-bar-cross{
        display: none;
        right: 0px;
        left: auto;
        text-align: center;
        text-indent: 0px;
        font-size: 18px;
        color: #221638;
        width: 35px;
        height: 30px;
        position: absolute;
        font-weight: 700;
        padding-top: 14px;
        line-height: 22px;
    }
    .header-section .mega-menu-active{
        display: block;
    }
    .header-section .menu-bar-cross-active{
        display: block;
    }
    .header-section .menu-bar-reveal-active{
        display: none;
    }
    .header-section .mega-drop-list{
        float: none;
        position:static;
        top: 100%;
        left: 0;
        z-index: 1000;
        color: #212529;
        text-align: left;
        background-color: #fff;
            width: 100%;
        display: none;
    }
    .header-section .mega-drop-list-item{
        padding: 0px;
        position: relative;
        float: left;
       
    }
    .header-section .mega-drop-list-link{
        font-size: 15.5px;
        width: 80%;
        padding: 1em 10% 13px;
        color: #677294;
        border-top: 1px solid #DBEEFD;
        opacity: 1;
        font-family: "Nunito", sans-serif;
        visibility: visible;
        float: left;
        line-height: 1.5;
        transition: 0.5s;
    }

    .header-section .mega-drop-list-active{
        display: block;
    }

    .header-section .mega-expand-minus-active{
        display: block;
    }

    .header-section .mega-expand-plus-active{
        display: none;
    }
}
@media only screen and (max-width:992px){
    .header-section .mega-menu-list-link{
        font-size: 16px;
    }
    .header-section .mega-menu-list{
        height: 324px;
    }
}

@media only screen and (max-width:768px){
    .header-section .header-container{
        max-width: 720px;
    }
    .header-section .contact-btn-responsive-container{
        max-width: 720px;
    }
    .header-section .header-contact-link{
        font-size: 15px;
    }
    .header-section .mega-menu-list-link{
        font-size: 15px;
    }
    .header-section .mega-menu-list{
        height: 306px;
    }
}




