@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import './components/Header.css';
@import './components/Banner.css';
@import './components/About.css';
@import './components/Footer.css';
@import './components/Title.css';
@import './components/ServicesArea.css';
@import './components/ProductArea.css';
@import './components/ContactArea.css';
@import './components/Map.css';
@import './components/Agency.css';
@import './components/Features.css';
@import './components/Details.css';
@import './components/Loader.css';
@import './components/Whatsapp.css';
@import './components/Top.css';

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

body a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

body .h3{
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.2;
}

body .p{
    color: #6b6b84;
    line-height: 1.8;
    font-weight: 600;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
    letter-spacing: normal;
}


body .css-ahj2mt-MuiTypography-root{
    font-family: "Nunito", sans-serif;
}